[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argon2-cffi = "*"
flask-wtf = "*"
mcrcon = "*"
psutil = "*"
quart = {extras = ["dotenv"], version = "*"}
quart-auth = "*"
uvicorn = "*"
ecorcon = {editable = true, path = "."}

[dev-packages]
pipenv-setup = {ref = "master", git = "https://github.com/Madoshakalaka/pipenv-setup"}

[requires]
python_version = "3.11"

[scripts]
dev = "uvicorn src.ecorcon.web:app --reload"
stage = "python -m ecorcon staging"
prod = "python -m ecorcon"
