[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mcrcon = "*"
flask-wtf = "*"
quart = {extras = ["dotenv"], version = "*"}
uvicorn = "*"
pipenv-setup = {ref = "master", git = "https://github.com/Madoshakalaka/pipenv-setup"}
quart-auth = "*"
argon2-cffi = "*"

[dev-packages]
ecorcon = {editable = true, path = "."}

[requires]
python_version = "3.11"

[scripts]
webdev = "uvicorn src.ecorcon.web:app --reload"
webtest = "python -m ecorcon"
