{% extends "default_layout.html" %}
{% block body %}
<h3>You are not logged in. Please supply credentials or GTFO</h3>
<hr>
<form action="" method="post">
  <p>{{ form.username_field.label }}: {{ form.username_field }}</p>
  <p>{{ form.password_field.label }}: {{ form.password_field }}</p>
  <p>{{ form.submit(class="btn btn-primary") }}</p>
</form>
<hr>
{% if response %}
<h3>Message from web app:</h3>
<div class="container">
<div class="row">
<div class="col">
<div class="card bg-warning text-dark mb-3 shadow-sm">
<div class="card-body">
{{ response }}
</div> <!-- card-body -->
</div> <!-- card -->
</div> <!-- col -->
</div> <!-- row -->
</div> <!-- container -->
<hr>
{% endif %}
<p>&nbsp;</p>
{% endblock %}
