{% extends "default_layout.html" %}
{% block body %}
<h3>Manager for Eco server</h3>
<hr>
<p>Server is {% if not alive %}<b>NOT</b> {% endif %}running</p>
<form action="" method="post">
  {% for subfield in form.command_field %}
    <div class="form-check">
      {{ subfield(class="form-check-input") }}
      {{ subfield.label(class="form-check-label") }}
    </div>
  {% endfor %}
  <p>{{ form.submit(class="btn btn-danger") }}</p>
</form>
<hr>
{% if response %}
<h3>Last command result:</h3>
<div class="container">
<div class="row">
<div class="col">
<div class="card bg-warning text-dark mb-3 shadow-sm">
<div class="card-body">
{{ response }}
</div> <!-- card-body -->
</div> <!-- card -->
</div> <!-- col -->
</div> <!-- row -->
</div> <!-- container -->
<hr>
{% endif %}
<p>&nbsp;</p>
{% endblock %}
