{% extends "default_layout.html" %}
{% block body %}
<h2>{{ title }}</h2>
{% if message %}
<h3>Last command result:</h3>
<div class="container">
<div class="row">
<div class="col">
<div class="card bg-warning text-dark mb-3 shadow-sm">
<div class="card-body">
{{ message }}
</div> <!-- card-body -->
</div> <!-- card -->
</div> <!-- col -->
</div> <!-- row -->
</div> <!-- container -->
<hr>
{% endif %}
{% if exception %}
<h3>Last error:</h3>
<div class="container">
<div class="row">
<div class="col">
<div class="card bg-danger text-dark mb-3 shadow-sm">
<div class="card-body">
{{ exception }}
</div> <!-- card-body -->
</div> <!-- card -->
</div> <!-- col -->
</div> <!-- row -->
</div> <!-- container -->
<hr>
{% endif %}
{% if users %}
<h3>Current users list</h3>
<table class="table table-striped table-hover table-light">
<thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Level</th>
    <th scope="col">Active?</th>
  </tr>
</thead>
<tbody>
{% for user in users.items() %}
  <tr>
    <th scope="row">{{ user[0] }}</th>
    <td>{{ user[1]["level"] }}</td>
    <td>{{ user[1]["active"] }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
<hr>
{% endif %}
<h3>Edit existing user or register new user</h3>
<hr>
<form action="" method="post">
<p>
{{ form.username_field.label }}: 
{{ form.username_field(class="form-control") }}
{% for error in form.username_field.errors %}
  <span class="badge badge-danger">[{{ error }}]</span>
{% endfor %}
</p>
<p>
{{ form.password_field.label }}: 
{{ form.password_field(class="form-control") }}
{% for error in form.password_field.errors %}
  <span class="badge badge-danger">[{{ error }}]</span>
{% endfor %}
</p>
<p>
{{ form.confirm_field.label }}: 
{{ form.confirm_field(class="form-control") }}
{% for error in form.confirm_field.errors %}
  <span class="badge badge-danger">[{{ error }}]</span>
{% endfor %}
</p>
<p>
{{ form.level_field.label }}
{% for subfield in form.level_field %}
<div class="form-check form-check-inline">
  {{ subfield(class="form-check-input") }}
  {{ subfield.label(class="form-check-label") }}
</div>
{% endfor %}
{% for error in form.level_field.errors %}
  <span class="badge badge-danger">[{{ error }}]</span>
{% endfor %}
</p>
<p>
{{ form.active_field.label }}
{% for subfield in form.active_field %}
<div class="form-check form-check-inline">
  {{ subfield(class="form-check-input") }}
  {{ subfield.label(class="form-check-label") }}
</div>
{% endfor %}
{% for error in form.active_field.errors %}
  <span class="badge badge-danger">[{{ error }}]</span>
{% endfor %}
</p>
<p>{{ form.submit(class="btn btn-primary") }}</p>
</form>
<p>&nbsp;</p>
{% endblock %}
