{% extends "default_layout.html" %}
{% block body %}
<h3>Send command to remote Eco server</h3>
<hr>
<form action="" method="post">
  {% for subfield in form.command_field %}
    <div class="form-check">
      {{ subfield(class="form-check-input") }}
      {{ subfield.label(class="form-check-label") }}
    </div>
  {% endfor %}
  <p>{{ form.arguments_field.label }}<br />{{ form.arguments_field }}
  </p>
  <p>{{ form.submit(class="btn btn-warning") }}</p>
  </dl>
</form>
<hr>
{% if response %}
<h3>Last command result:</h3>
<div class="container">
<div class="row">
<div class="col">
<div class="card bg-warning text-dark mb-3 shadow-sm">
<div class="card-body">
{{ response }}
</div> <!-- card-body -->
</div> <!-- card -->
</div> <!-- col -->
</div> <!-- row -->
</div> <!-- container -->
<hr>
{% endif %}
<p>&nbsp;</p>
<p>Admin commands:<br />
/chat -- Shows Commands related to chat.<br />
/districts -- Shows commands related to user-defined districts.<br />
/initialspawn -- Controls initial spawn.<br />
/inventory -- List of inventory related commands<br />
/meteor -- Shows commands for manipulations with meteor.<br />
/network -- List of different network commands<br />
/notifications -- Shows commands related to notifications.<br />
/performance -- Runs server performance reports and dump to files. 
Optionally pass duration in seconds, defaults to 60 seconds.<br />
/profiler -- Shows commands to profile the server and generate 
diagnostic data.<br />
/teleport -- List of different teleportation commands<br />
/weather -- Shows commands for manipulations weather.<br />
<br />
User commands:<br />
/civics -- Performs a variety of government operations.<br />
/help (/?) -- Displays all the commands available with hidden 
subcommands. Accepts a string to filter commands to a search string.
<br />
/helpful -- Shows all help, including sub commands.<br />
/land -- List of commands for land manipulations<br />
/manage -- Shows commands for users administration.<br />
/money -- Shows commands for manipulating money.<br />
/sim -- List of commands for simulations<br />
/time -- List of commands for time operating<br />
/util -- List of some helping commands<br />
</p>
{% endblock %}
