{% extends "default_layout.html" %}
{% block body %}
<h2>{{ title }}</h2>
{% if message %}
<h3>Last command result:</h3>
<div class="container">
<div class="row">
<div class="col">
<div class="card bg-warning text-dark mb-3 shadow-sm">
<div class="card-body">
{{ message }}
</div> <!-- card-body -->
</div> <!-- card -->
</div> <!-- col -->
</div> <!-- row -->
</div> <!-- container -->
<hr>
{% endif %}
{% if exception %}
<h3>Last error:</h3>
<div class="container">
<div class="row">
<div class="col">
<div class="card bg-danger text-dark mb-3 shadow-sm">
<div class="card-body">
{{ exception }}
</div> <!-- card-body -->
</div> <!-- card -->
</div> <!-- col -->
</div> <!-- row -->
</div> <!-- container -->
<hr>
{% endif %}
{% if form %}
<form action="" method="post">
<p>
{{ form.server_field.label }}
{% for subfield in form.server_field %}
<div class="form-check form-check-inline">
{{ subfield(class="form-check-input") }}
{{ subfield.label(class="form-check-label") }}
{% if alive[subfield.label.text] %}
<span class="badge badge-primary">Alive</span>
{% else %}
<span class="badge badge-secondary">Dead</span>
{% endif %}
</div>
{% endfor %}
{% for error in form.server_field.errors %}
  <span class="badge badge-danger">[{{ error }}]</span>
{% endfor %}
</p>
<p>
{{ form.action_field.label }}
{% for subfield in form.action_field %}
<div class="form-check form-check-inline">
  {{ subfield(class="form-check-input") }}
  {{ subfield.label(class="form-check-label") }}
</div>
{% endfor %}
{% for error in form.action_field.errors %}
  <span class="badge badge-danger">[{{ error }}]</span>
{% endfor %}
</p>
<p>{{ form.submit(class="btn btn-primary") }}</p>
</form>
{% else %}
<p>Form not set, this is a bug. Please 
<a href="https://github.com/iuriguilherme/EcoSM/issues"
target="_blank">report</a>.</p>
{% endif %}
<p>&nbsp;</p>
{% endblock %}
